.emailVerification {
  background: $white;
  box-shadow: $box-shadow;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  button {
    margin-top: 0.5rem;
    background-color: transparent;
    color: $geekblue-3;
  }
  &__message {
    margin-top: 0.5rem;
  }
}
