* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif !important;
  background-color: $background-color !important;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  font-weight: 500;
}
html {
  overflow-y: scroll;
}
a {
  text-decoration: none !important;
  color: $white;
  &:hover {
    color: none !important;
    text-decoration: none !important;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input,
select,
textarea {
  outline: none;
}

ul {
  list-style: none;
}

.ant-modal-content {
  padding: 0rem !important;
}

.ant-image-preview-img-wrapper {
  width: 80rem;
  margin: 0 auto;
  height: 100%;
  object-fit: contain !important;
}

.ant-dropdown-menu {
  box-shadow: $box-shadow !important;
}

.ant-tabs-nav {
  margin: 0 !important;
}

.background-help {
  background-color: $white;
  box-shadow: $box-shadow;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-inline: 0px !important;
  border-radius: 0.5rem;
}
input,
select,
.ant-select-selection-item,
.ant-select-item,
textarea {
  color: $text-color !important;
  &::placeholder {
    color: $disabled-color !important;
  }
}
.ant-input-outlined,
.ant-select-selector,
.ant-select-dropdown,
.ant-select-item-option-active,
.ant-dropdown-menu {
  border: $defaultBorder-color 1px solid !important;
  background: $background-color !important;
}

.breadcrumb {
  a {
    color: $secondary-color !important;
  }
  span {
    color: $text-color !important;
  }
}

.ant-breadcrumb-separator {
  color: $secondary-color !important;
}

.ant-space-item {
  label {
    color: $text-color !important;
    .info_icon {
      color: $text-color !important;
    }
  }
}

.anticon {
  color: $disabled-color !important;
}

.ant-dropdown-menu {
  border: $defaultBorder-color 1px solid !important;
  background: $background-color1 !important;
}

.login__example {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
